# Default values for OpenSDS Service Broker
# Image to use
image:
  service-broker: opensdsio/service-broker:latest
  etcd-store: quay.io/coreos/etcd:latest
# ImagePullPolicy; valid values are "IfNotPresent", "Never", and "Always"
imagePullPolicy: IfNotPresent

# Specify if registering it when deploying the service broker
deployClusterServiceBroker: true

# Please modify these fields according to your real environment
opensdsEndpoint: http://127.0.0.1:50040
opensdsAuthStrategy: noauth
osAuthURL: http://127.0.0.1/identity
osUsername: admin
osPassword: opensds@123
osTenantName: admin
osProjectName: admin
osUserDomainID: default
